<html>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>-->
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="controllers/firstController.js"></script>
<script type="text/javascript" src="directives/firstDirective.js"></script>
<script type="text/javascript" src="controllers/personController.js"></script>
<script type="text/javascript" src="controllers/namesController.js"></script>
<script type="text/javascript" src="controllers/priceController.js"></script>
<script type="text/javascript" src="controllers/orderbyController.js"></script>
<script type="text/javascript" src="filters/myFilter.js"></script>
<script type="text/javascript" src="controllers/locationCotroller.js"></script>
<script type="text/javascript" src="controllers/simpleDownloadController.js"></script>
<body>
<!--ng-app directive show who is owner Angular application-->
<div ng-app="myApp" ng-init="owner='macg20'" ng-controller="firstController">
    <p>Name: <input type="text" ng-model="name"></p>
    <p>Hello {{name}}</p>
    <p>Application Owner: <span ng-bind="owner"></span></p>
    <p>Result 5+5: {{5+5}}</p>
    <p></p>
    <p>Owner FullName: {{firstName + " " + lastName}}</p>
    <p>test scope first and lastname</p>
    <pc ng-init=getFullName()> zmien imie - inicjalizacja</pc>
    <p>{{firstAndLastName}}</p>

    <p>NG REPEAT</p>

    <ul ng-init="people=['Alice','Bob','Ann']">
        <li ng-repeat="x in people"> {{x}}</li>
    </ul>
    <div ng-simple-directive></div>

    <div ng-controller="personController">
        First Name <input type="text" ng-model="inputName"><br>
        Last Name <input type="text" ng-model="inputLastName"><br>
        <p>{{fullName()}}</p>
    </div>

    <div ng-controller="namesController">
        <ul>
            <li ng-repeat="x in names">{{info(x) |uppercase }}</li>
        </ul>

    </div>

    <div ng-controller="priceController"><p>Currency filter: {{price | currency}}</p>

        <input type="text" ng-model="test">
        <ul ng-init="filteredPeople=['Alice','Bob','Ann']">
            <li ng-repeat="x in filteredPeople | filter : test"> {{x}}</li>
        </ul>
        <div ng-simple-directive></div>
    </div>

    <div ng-controller="orderbyController">
        <p>TYP SORTOWANIA: {{myOrderBy}}</p>
        <table border="1" width="100%">
            <tr>
                <th ng-click="orderByMe('name')">Name</th>
                <th ng-click="orderByMe('country')">Country</th>
            </tr>

            <tr ng-repeat="x in orderByNames | orderBy:myOrderBy">
                <td>{{x.name}}</td>
                <td>{{x.country}}</td>
            </tr>
        </table>
    </div>

    <p>MyFilter people</p>
    <ul ng-init="myFilterPeople=['Alice','Bob','Ann']">
        <li ng-repeat="x in myFilterPeople"> {{x | myFilter}}</li>
    </ul>
    <p>LocationCotroller</p>
    <div ng-controller="locationCotroller">
        <p>my location url is: {{myUrl}}</p>
    </div>
    <div ng-controller="simpleDownloadController">
        <h1 ng-click="fetch()">Download controller: Download Example usages</h1>
        <p>status code: {{status}}</p>
    </div>
</div>


</body>
</html>